node_modules/*

./src/components/Normalize.js

package-lock.json

./README.md

*.test.js

*.stories.js

./.github/workflows/*.yml

gatsby-browser.js

gatsby-config.js

gatsby-node.js

gatsby-ssr.js

public/*